<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AwsAdfsCredentialGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <AwsAdfsCredentialGenerator.Properties.Settings>
            <setting name="AdfsUrl" serializeAs="String">
                <value>https://YOURSERVER.com/adfs/ls/IdpInitiatedSignOn.aspx</value>
            </setting>
            <setting name="LoginToRP" serializeAs="String">
                <value>urn:amazon:webservices</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>user@domain</value>
            </setting>
            <setting name="SamlProviderName" serializeAs="String">
                <value>&lt;Retrieve from AWS IAM console&gt;</value>
            </setting>
        </AwsAdfsCredentialGenerator.Properties.Settings>
    </userSettings>
</configuration>